body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  position: relative;
  z-index: 4; 
}

.logo-navbar{
  display: flex;
  align-items: center;
  text-decoration: none;
  max-width: 25%;
  max-height: 25%;
}

.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu-item {
  margin: 0 rem;
  margin-right: 20px; 
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.3rem;
}

.menu-link:hover {
  color: #a5d0ff;
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  background: white;
  padding: 0.5rem;
  display: none;
}

.dropdown-menu.open {
  display: block;
}

.dropdown-menu-item {
  margin: 0.5rem 0;
}

.dropdown-menu-link {
  text-decoration: none;
  color: #333;
}

.dropdown-menu-link:hover {
  color: #007bff;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .menu.open {
    display: flex;
  }

  .menu-item {
    margin: 1rem 0;
    text-align: center;
  }
}
